.star {
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px 0 #fff;
    border-radius: 100%;
    top: 100px;
    left: 800px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    z-index: 10;
    display: inline-block;
    
    -webkit-animation: shine  infinite; 
    -moz-animation:    shine  infinite; 
    -o-animation:      shine  infinite; 
    animation:         shine  infinite;
}

.shine-slow
{
    animation: shine 0.8s  infinite; 
    -webkit-animation: shine 0.8s  infinite; 
    animation-delay:0.4s;
    -webkit-animation-delay: 0.4s;
}

.shine-fast
{
    animation: shine 0.6s  infinite; 
    -webkit-animation: shine 0.6s  infinite; 
}

@keyframes shine 
{
  50% 
     {
        box-shadow: 0  0 5px 3px rgba(255, 255, 255, 0.119); 
        -webkit-filter: blur(1px);
    } 
}

@-webkit-keyframes shine 
{
  50% 
     {
        box-shadow: 0 0 5px 3px rgba(255, 255, 255, 0.119);
        -webkit-filter: blur(1px);
    } 
}